html {
  height: 100%;
}
body {
  height: 100%;
  background: black;
  color: #DDDDDD;
  font-family: courier new;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}

#grid tr td{
  border:1px solid white;
  background: #999999;
  width: 25px;
  height: 25px;
  text-align: center;
}

#grid tr td.clicked {
    background: #333333;
}

#grid tr td.wrong {
    background: #FF0000;
}

#grid tr td.correct {
  background: #00FF00;
}

#grid button {
  margin: 12px;
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}